body{
    background-color: #283739;
    color: white;
}
section{
    padding: 60px 0;
}
.img-fluid{
    background-color: wheat;
    border-radius: 100px;
}
#about{
    background-color: #393e46;
}
#about-header{
    margin-top: -25px;
}
