body{
    background-color: #283739;
    color: #ffffff;
}
section{
    padding: 60px 0;
}
/* Navbar */
.nav-link:hover{
    color: orange;
}
.nav-link:active{
    color: white;
}
/* Home */
#home{
    background-image: url("assets/moon.jpg");
    background-size: cover;
    padding-top: 140px;
    padding-bottom: 290px;
}
/* About */
#about{
    background-color: #283739;
    color: white;
}
#about-header{
    margin-top: -20px;
    margin-bottom: 50px;
}
.img-fluid{
    background-color: wheat;
    border-radius: 100px;
}

/* Skills */
#skills{
    background-color: #222831;
}
#skills-header{
    margin-top: -20px;
    margin-bottom: 50px;
}
.card{
    background-color: #474e58;
    border-radius: 30px;
}
.card-title{
    margin-top: 10px;
    color: white;
}

/* Education */
#education{
    background-color: #1a2639;
}
#card-holder{
    background-color: #41506b;
}

/* Experiences */
#experiences{
    background-color: azure;
}
